@media only screen and (max-device-width: 900px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20pt;
    }

    .headerBody img {
        width: 100%;
    }

    table, th, td {
        font-size: 14px;
    }
    .tabelaForm {
        width: 500px;
    }
}

@media only screen and (max-device-width: 500px) {

    h1 {
        font-size: 23px;
    }

    h3 {
        font-size: 16px;
        padding: 0;
    }

    .headerBody img {
        width: 90%;
    }

    .menu a {
        font-size: 8pt;
    }

    table, th, td {
        font-size: 10px;
    }

    input {
        font-size: 12px;
        width: 100px;
    }
    .tabelaForm {
        width: auto;
    }
}

h1 {
    margin: 20px 0px 0px 0px;
    clear: both;
}
h3 {
    margin: 0;
    padding: 2px;
}
body {
    padding: 0;
    margin: 0;
}
.sections {
    margin: 0 auto;
    max-width: 900px;
    padding: 5px;
}
p {
    font-family: 'Times New Roman';
    font-size: 14px;
}
.headerBody {
    border-bottom: 2px solid;
    border-color: black;
    display: -webkit-flex;
    justify-content: center;
}
.headerTopo {
    background: blue;
    color: white;
}

.menu {
    list-style: none;
    text-align: center;
    font-size: 18pt;
    width: 450px;
    margin: 0 auto;
    display: -webkit-box;
}

    .menu ul {
        margin: 0;
        padding: 10px;
    }
    .menu li {
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        box-shadow: inset 0 2px 5px #fff, 0 2px 4px #2b2b2b;
    }
        .menu li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            
        }
                .menu li a:hover {
                    background: red;
                    border-radius: 5px;
                }
                .menu li a:active {
                    background: green;
                }

.section1p {
    margin: 0;
}

.Sec1img {
    float: left;
    padding-right: 5px;
}

.p2Section1 {
    width: 50%;
    float:left;
    padding-right:4px;
}

.listaOrdenada {
    background: gray;
    padding: 3px;
    width: 48%;
}
.listaNordenada {
    float: right;
    background: blue;
    width: 48%;
    padding: 3px;
}

    .section2 ul {
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
        border-color: white;
    }
    .section2 li {
        list-style-type: none;
        color: black;
    }
        .section2 ul li {
            color: white;
        }

            .section2 ul li:hover {
                background: red;
                color: green;
            }
    .section2 ol {
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
        border-color: black;
    }
        .section2 ol li:hover {
            background: green;
            color: red;
        }

.section3 {
    border: 1px solid;
    border-color: black;
    padding: 10px;
}

.formulario {
    padding: 3px;
    text-align: left;
}
    .formulario * {
        margin: 5px;
        font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }
    .formulario label {
        font-weight:bold;
    }
input:focus {
    background: #57c659;
}

.tabelaForm {
    margin: 0 auto;
}

table, tr {
    border: 2px solid;
    border-color: black;
    width: 500px;
    text-align: center;
}
    table th {
        background:black;
        color:white;
    }
    table td {
        background:gray;
        font-weight:bold;
    }

.footer {
    text-align: center;
    background: gray;
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

