@media only screen and (max-device-width: 900px) {
    * { width:100%; }
}

body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
} 


.imgLogo {
    float: left;
    background: black;
}

.textoTopo{
    padding: 20px 0 0 0;
}

.headerTopo {
    border-bottom: 3px solid;
    margin-bottom: 30px;
    border-color: black;
}
.menu {
    list-style:none; 
    border:1px solid #424040; 
    width: 500px;
    text-align: center;
    font-size: 18pt;
    margin: 0 auto;
    } 

.menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
.menu ul li {
    display: inline;
    padding: 10px;
}


.sectionCenter {
    margin: 0 auto;
    width: 700px
}

.img1Section1, .img2Section1{
    float: left;
}